<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
							http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
							http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
  							http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">


	<!-- Configures a handler for serving static resources such as images, js, 
		and, css files with cache headers optimized for efficient loading in a web 
		browser. Allows resources to be served out of any path that is reachable 
		via Spring's Resource handling. -->
	<mvc:resources mapping="/resources/**" location="/resources/" />

	<mvc:annotation-driven />

	<context:component-scan base-package="com.hicollege" /> <!-- What package to use as a base when scanning for components to autowire -->

	<context:property-placeholder location="classpath:hiq.properties" /> <!-- Autowirable properties are loaded from this file -->

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/" />
		<property name="suffix" value=".html" />
	</bean>
</beans>